:root{
    --primary-color: #D1BCD6;  /* 主色 */
    --secondary-color: #9E7E99;  /* 輔助色 */
    --accent-color: #3B424B;  /* 強調色 */
    --accent2-color: #D3A537;
    --background-color: #F3EFE9;  
}

.chinese_content{
    font-family: 'Courier New',monospace;
    font-size: 1.5vw;
    letter-spacing: 0.6vw;
    color: var(--accent-color);
}

.underline{
    display: inline-block;
    padding-bottom: 10w;
    background-image: linear-gradient(to right , var(--primary-color), var(--secondary-color),transparent);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 100% 0.3vw;
}

.logo_font_primary{
    font-family: 'Courier New', 'Copperplate';
    font-size: 5vw;
    color: var(--primary-color);  
}

.logo_font_secondary{
    font-family: 'Courier New', 'Copperplate';
    font-size: 3vw;
    color: var(--accent2-color);
}

.table_title{
    font-family: 'Courier New', 'Copperplate';
    font-size: 1.3vw;
    color: var(--background-color);
    background-color: var(--secondary-color);
    text-align: center;
}

th,td{
    width:auto;
    padding: 0.5vw;
    text-align: center;
    font-weight: normal;
    vertical-align: middle;
}

tr{

    font-family: monospace;
    font-size: 1.5vw;
    font-weight: normal;
    text-align: center;
}

table{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

tr:nth-child(even) {background-color: #e6dae9;}

.card_title{
    font-family: 'Courier New', 'Copperplate';
    font-size: 1.5vw;
    color: var(--accent-color);
}

.tag{
    font-family: monospace;
    padding: 0.3vw;
    padding-left: 0.8vw;
    padding-right: 0.8vw;
    border-radius: 0.375rem;
    font-size: 1vw;
    border: 0;
    text-align: right;
    letter-spacing: 0.1vw;
    word-spacing: 0.05vw;
    text-decoration: none;
}

.primary_secondary{
    color: var(--background-color);
    background-image: linear-gradient(to right , var(--primary-color), var(--secondary-color));
}

.backgoround_primary{
    color: var(--accent-color);
    background-image: linear-gradient(to right , var(--background-color), var(--primary-color));
}

.accent2_primary{
    color: var(--background-color);
    background-image: linear-gradient(to right , var(--accent2-color), var(--primary-color));
}

.accent_secondary{
    color: var(--background-color);
    background-image: linear-gradient(to right , var(--accent-color), var(--secondary-color));
}

.unactive{
    background-image: none;
    background-color: var(--accent-color);
    color: var(--background-color);
    opacity: 0.5;
    text-decoration: none;
}

.card_dec{
    aspect-ratio: 1/1;
    background-image: linear-gradient(135deg , 
    var(--primary-color),var(--primary-color),
     var(--background-color),white);
    border-top-right-radius: 100%;
    border-bottom-left-radius: 5%;
}

.secondary_color{
    color: var(--secondary-color);
}

.lists{
    font-family: 'Courier New', 'Copperplate';
    text-align: center;
    text-decoration: none;
    background-image: linear-gradient(to right , var(--primary-color), var(--secondary-color));
    border: none;
    color: var(--accent-color);
    transition: all 0.5s ease-in-out;
}

.select{
    background-image: linear-gradient(to right , var(--background-color), var(--accent2-color));
    
}

.content{
    font-size: 2vw;
    letter-spacing: 0.5vw;
    word-spacing: 0.8vw;
    color: var(--accent-color);
}

.tag_content{
    font-size: 1vw;
    letter-spacing: 0.3vw;
    word-spacing: 0.5vw;
    color: var(--accent-color);
}


.button{
    text-align: center;
    text-decoration: none;
    background-color: transparent;
    border: 0;
    color: var(--secondary-color);
    transition: opacity 0.3s ease-in-out;
}

.button:hover,.lists:hover,.more_btn:hover,.cart_btn:hover
,.home_btn:hover{
    opacity: 0.7;
}


.cart_btn{
    font-family: 'Courier New', 'Copperplate';
    border: 0;
    text-decoration: none;
    background-image: linear-gradient(to right , var(--background-color), var(--accent2-color));
    color:var(--accent-color);
    padding: 0.5vw;
    padding-left: 1vw;
    padding-right: 1vw;
    border-radius: 0.375rem;
    font-size: 1.5vw;
}

.form-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2vw;
}

.input_col{
    font-family: 'Courier New', 'Copperplate';
    font-size: 1.5vw;
    margin-top: 2vw;
    padding: 0.5vw;

    text-align: center !important;
    width: 60% !important;
    box-sizing: border-box;
    border-radius: 0 !important;
    border: none !important;
    border-bottom: 0.2vw solid var(--secondary-color) !important;
}

.input_select{
    font-family: 'Courier New', 'Copperplate';
    font-size: 1.5vw;
    padding: 0.5vw;

    text-align: center !important;
    box-sizing: border-box;
    border-radius: 0 !important;
}

.danger_btn{
    font-family: 'Courier New', 'Copperplate';
    border: 0;
    background-color: #901541;
    color:var(--background-color);
    padding: 0.3vw;
    padding-left: 1vw;
    padding-right: 1vw;
    border-radius: 0.375rem;
    font-size: 1.5vw;
    font-weight: bold;
}

.img{
    width: 100%;
    border-radius: 50%;
    padding: 2vw;
}

input[type="file"]{
    display: none;
}

.file{
    font-family:  monospace;
    align-items: center !important;
    padding: 0.3vw;
    padding-left: 0.8vw;
    padding-right: 0.8vw;
    font-size: 1.5vw;
    border: 0;
    border-radius: 0.375rem;
    text-align: center !important;
    color: var(--background-color);
    background-image: linear-gradient(to right , var(--primary-color), var(--secondary-color));
}

.line{
    position: relative;
    padding-bottom: 4vw;
}

.line::after{
    content: '';
    position: absolute;
    bottom: -2vw;
    left: 50%; 
    transform: translateX(-50%);
    height: 0.15vw;
    background-color: var(--secondary-color);
    width: 50%;
}

.home_btn{
    font-size: 2.5vw;
    padding:1vw;
    transition: opacity 0.3s ease-in-out;
}


html,body {
    font-family: 'Courier New', 'Copperplate';
}